body{
  margin: 0px;
  font-family: 'Cousine';
  height: 100vh;
  width: 100vw;
  background-image: url("../images/paper-background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgb(255, 208, 0);
}


header{
  height: 15%;
}

img{
  display: block;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}


.display-game,
.stats-container,
.container{
  display: flex;
  margin:auto;
}

.container{
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}
.display-game {
  height: 78vh;
  width: 100vw;
}


aside {
  display: inline-block;
  width: 15%;
  text-align: center;
  height: 78vh;
}

h1{
  font-size: 1.5em;
  margin-bottom: 20%;
}

p{
  font-size: 1.5em;

}

.stats-container {
  align-items: left;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

.stats-content {
  width: 95%;
  height: 20%;
  border-radius: 15px;
  margin-bottom: 18%;

}

.stats-content p{
  margin: 0px;
}

.extra-margin{
  width: 100%;
}


main {
  width: 100%;
}

.scene{
  margin: 5px;
  width: 15%;
  height: 30.33%;
  perspective: 600px;
}

.card {
  height: 100%;
  width: 100%;
  cursor: pointer;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;


}

.back, .front{
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position:center;
  position: absolute;
  border-width: 3px 3px;
  backface-visibility: hidden;
  border-radius: 15%;

}

.back{
  background-color: black;
  background-image: url("../images/leaf-logo.png")
}

.front{
  transform: rotateY(-180deg);
}

.clicked {
  transform: rotateY(180deg);
}


.flower1{
  background-color: #fbf4f9;
  background-image: url("../images/flower1.png");
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.flower2{
  background-color: #f6e7e6;
  background-image: url("../images/flower2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.flower3{
  background-color: #f6e5f5;
  background-image: url("../images/flower3.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.flower4 {
  background-color: #f1f9f9;
  background-image: url("../images/flower4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.flower5{
  background-color: #e1f2fb;
  background-image: url("../images/flower5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.flower6{
  background-color: #f3dfe3;
  background-image: url("../images/flower6.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.flower7{
  background-color: #ffeadb;
  background-image: url("../images/flower7.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.flower8{
  background-color: #f6f4e6;
  background-image: url("../images/flower8.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.flower9{
  background-color: #f1f1f6;
  background-image: url("../images/flower9.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.hide{
  display: none;
}


.modal{
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1;
  overflow: none;
  background-image: url(../images/paper-clip-3309924_1920.png);
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  background-color: rgb(0,0,0,.5);
}

#end-game p {
  display: inline-block;
  position: relative;

}

.modal img{
  position: relative;
  top: 32%;
  right: 2%;
  width: 50%;
}

.modal .bottom-text{
  display: inline-block;
  position: relative;
  bottom: 1%;
  left: 39%;
  width: 23%;
}

.button-container{
  position: relative;
  top: 38%;
  left: 26%;
  width: 58%;
  }

button{
  font-family:  'Cousine';
  font-size: 2rem;
  display: inline-block;
  background-color: transparent;
  border: 5px solid black;
  border-radius: 15px;
  padding: 2%;
  cursor: pointer;
  margin: 2%;
  width: 39%;
}

@media screen and (max-width: 1200px ){
  p {
    font-size: 1.3rem;
  }
  button {
    font-size: 1.5rem;
  }

  .modal img {
    top: 38%;
  }
}



@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape){
    .modal img {
      width: 52%;
      top: 31%;
    }

    .button-container{
      top: 35%;
    }
  }



@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
    p {
        font-size: 1.5rem;
    }
  }

@media only screen and (max-device-width: 1024px) and (orientation: portrait), (max-width: 560px) {
  .stats-container,
  .stats-content{
    flex-direction: row;
    align-items: center;
  }

  img{
    width: 50%;
  }

  p{
    font-size: 2rem;
  }

  h1{
    display: none;
  }

  .stats-container,
  aside{
    height:7vh;
    width: 100vw;

  }

  .front,
  .back{
    height: 100%;
    width: 100%;
  }

  header{
    display: none;
  }

  main{
    height: 85vh;
  }

  .display-game,
  .container{
    flex-wrap: wrap;
    justify-content: center;
  }

  .display-game{
    height: 97vh;
    width: 96vw;
  }

  .container{
    width: 100%;
    height: 85vh;
  }

  .scene {
    width: 30%;
    height: 15%;
  }

  .stats-content{
    width: 100%;
    height: 90%;
    margin-bottom: 8%;
  }

  .extra-margin{
    margin-top: 40px;
    margin-bottom: 0;

  }
}


@media screen and (max-width: 1000px ) and (orientation: landscape){
  p {
    font-size: 1rem;
  }

  .modal img {
      width: 52%;
      top: 24%;
    }

    .button-container{
      top: 28%;
    }

}

@media screen and (max-width: 823px) {
  .modal img {
      width: 52%;
      top: 24%;
    }

    .button-container{
      top: 35%;
    }
  }



@media screen and (max-width: 703px ){
  img{
    size: 47%;
  }
  p {
    font-size: 1rem;
  }

  aside {
    width: 12%;
  }

  .scene{
  width: 14%;
  height: 30.33%;
}
}


@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : landscape) {
  .modal img{
    width: 50%;
    top: 21%
  }

  .button-container{
    top: 26%;
  }
}
