body{
  background-color: lightpink;
  margin: 0px;



}
.display-game {
  display: flex;
  height: 84vh;
  width: 100vw;
}

aside, header, main {
   border: 2px solid black;

}

header{
  height: 15vh;
  text-align: center;

}
aside {
  width: 15%;
  text-align: center;


}
main {
  width: 100%;


}
.stats-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 98%;
  height: 100%;
}

.card {
  background-color: black;
  margin: 3px;
  width: 15.66%;
  height: 30.33%;
  cursor: pointer;
}

 .back, .front{
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position:center;
}
.back{
    background-image: url(../images/lfz-card.jpg);
}

.front{
   background-image: url(../images/css-logo.png);
}

.hide{
  display: none;
}

.stats-content {
  width: 95%;
  height: 10%;
  border: 2px solid gray;

}
