body{
  background-image: url(../images/animalcrossingbackground.jpg);
  margin: 0px;
  background-repeat: no-repeat;
  font-family: 'Averia Libre';



}
.display-game {
  display: flex;
  height: 78vh;
  width: 100vw;
}


header img{
  position: relative;
  bottom: 55 px;
  height: 100%;
}
header{
  height: 20vh;
  text-align: center;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;

}
aside {
  display: inline-block;
  width: 15%;
  text-align: center;
  height: 78vh;


}
main {
  width: 100%;


}
.modal{
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1;
  overflow: none;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid pink;
  width: 50%;
  text-align: center;
  border-radius: 20px;
}

.stats-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.4);
  width: 10vh;
  height: 78vh;

}
aside img {
  position: relative;
  height: 20%;
  bottom: 0px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 98%;
  height: 100%;
}

.card {
   margin: 5px;
  width: 15.66%;
  height: 30.33%;
  cursor: pointer;

}

 .back, .front{
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position:center;
  border-radius: 25px;
  border: solid rgb(11, 85, 30);
  border-width: 3px 3px;

}
.back{
    background-image: url(../images/acnl-card-back.jpg);

}

/*front images*/
.css-img{
   background-image: url(../images/apple.jpg);
}

.dock-img{
  background-image: url(../images/banana.jpg);
}

.github-img{
  background-image: url(../images/orange.jpg);
}

.html-img {
background-image: url(../images/sea-bass.jpg);
}

.js-img{
  background-image: url(../images/red-snapper.jpg);
}

.mysql-img{
  background-image: url(../images/shark.jpg);
}
.node-img{
  background-image: url(../images/bee.jpg);
}

.php-img{
  background-image: url(../images/butterfly.jpg);
}

.react-img{
  background-image: url(../images/horned-atlas.jpg);
}

.hide{
  display: none;
}

.stats-content {
  width: 95%;
  height: 20%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  margin-bottom: 20px;

}

.stats-content p{
  margin: 0px;
}

.extra-margin{
  margin-bottom: 60px;
}
